/**
 * @author Timothy Mwangi
 * StAuth10244: I Timothy Mwangi, 000937691 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else.
*/
.card {
  max-width: 225px;
  justify-self: center;
  cursor: pointer;
} 
.col-sm {
  max-width: 300px;
}
.picked {
  border: 4px solid #ffcc00; 
  box-shadow: 0 0 15px rgba(255, 204, 0, 0.8); 
  transform: scale(1.1); 
  transition: all 0.3s ease; 
}

.custom-btn {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  flex: 1 1 auto;
}