 .card {
  max-width: 225px;
  justify-self: center;
  cursor: pointer;
} 
.col-sm {
  max-width: 300px;
}
/* .playcard {
  width: 30%;
} */
/* #backCard {
  cursor: pointer;
} */

.custom-btn {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  flex: 1 1 auto;
}